@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(39, 39, 42); /* black */
  color: #FFFFFF; /* white text color for better contrast */
  height: fit-content; /* Ensures the body takes the full viewport height */
  margin: 0; /* Removes default margin */
}